html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:#FFF8C7;
    padding: 1em;
    color: black;
    align-items: center;
}

.header-logo{
    margin-left: 1em;
    padding: 1em;
}
.header-nav ul{
    display: flex;
    /* flex-direction: row; */
    list-style-type: none;
    font-size: 1.2em;
    gap: 1em;
    margin-right: .5em;
    text-transform: uppercase;
}

.header-nav a{
    color: black;
    text-decoration: none;
    padding: .4em;
    border-radius: 5px;
    }
    .header-nav a:hover{
        background-color: #F28D35;
    }
   
    .imagens img{
        width: 100%;
        width: 300px;
	    max-width: 860px;
	    height: 200px;
    }
    .tamanho{
        width: 100%;
	    padding: 15px;
       }

    .imagens{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

    .tamanho:hover{
        filter: grayscale(100%);
    }
    .Whatsapp{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }
    main{
        background-color: #F28D35;
        margin-top: 0em;
    }
    footer{
        background-color: #FFF8C7;
        text-align: center;
        text-transform: uppercase;
        padding: 1.2em;
    }
